*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f8fafcFF;
}
.geist{
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}
.main_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8FAFC;
}
.box_container{
  max-width: 520px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px 0px #00000014;
  padding: 32px;
}
.box_head{
  text-align: center;
}
.box_head img{
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}
.box_head h2{
  margin-top: 24px;
  font-size: 24px;
  font-weight: 600;
  color: #1f2937FF;
}
.box_head h3{
  font-size: 16px;
  color: #64748bFF;
}
.form_content{
  margin: 24px 0;
}
.form_content div label{
  font-size: 16px;
  font-weight: 500;
  color: #1f2937FF;
  text-transform: uppercase;
}

.form_content_input{
  width: 100%;
  text-align: left;
  padding: 16px;
  border: 1px solid #e4e4e7FF;
  border-radius: 8px;
  margin: 8px 0;
}
.default_text{
  font-size: 14px;
  color:#4a00ffFF;
  margin-bottom: 24px;
}
.sign_btn{
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  background: #4a00ffFF;
  border: none;
  border-radius: 8px;
  margin: 24px 0;
  cursor: pointer;
}
.bottom_stroke{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom_stroke span{
  width: 45%;
  height: 1px;
  background-color: #e4e4e7FF; ;
}
.box_bottom h3{
  font-size: 14px;
  color: #64748bFF;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
}
.box_bottom_content{
  background: #f8fafcFF;
  border-radius: 8px;
  margin-top: 8px;
  padding: 24px;
  text-align: center;
}

/* home page design here  */
.nav_header{
  padding: 16px 0;
  border-bottom: 1px solid #e9e9e9FF;
  background: #fff;
  margin: 0 8px;
}
.nav_header>nav{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav_left{
  display: flex;
  align-items: center;
}
.nav_left img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 5px;
}
.nav_left span{
  font-size: 24px;
  font-weight: 600;
  color: #1f2937FF;
}
.nav_right{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.nav_search{
  position: relative;
}
.nav_search input{
  padding: 14px 16px;
  border: 1px solid #e4e4e7FF;
  border-radius: 4px;
}
.nav_search img{
  position: absolute;
  left: 5%;
  top: 30%;
}
.nav_right button{
  padding: 14px 16px;
  background: #4a00ffFF;
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.home_container{
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 60px;
}
.first_header{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px #00000014;
}
.first_header>button{
  padding: 12px 50px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #64748bFF;
  border: 1px solid #e4e4e7FF;
  border-radius: 4px;
  margin-right: 8px;
}
.first_header>button.active{
  color: #fff;
  background: #4a00ffFF;
  border: 1px solid #4a00ffFF;
}

.second_header{
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px #00000014;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e4e4e7FF;
}
.second_header_left{
  display: flex;
  align-items: center;
}
.second_header_img{
  max-width: 50px;
  max-width: 50px;
  background: #ece4ffFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.second_header_img img{
  max-width: 32px;
  height: 32px;
  padding: 9px;
}
.second_header_contents h2{
  font-size: 20px;
  font-weight: 600;
  color: #1f2937FF;
}
.second_header_contents p{
  font-size: 16px;
  color: #64748bFF;
}
.second_header_right{
  display: flex;
  align-items: center;
  gap: 16px;
}
.second_header_right h3{
  font-size: 16px;
  font-weight: 500;
  color: #1f2937FF;
  display: flex;
  align-items: center;
  gap: 8px;
}
.Open_indicator{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #00a96eFF;
  display: block;
}
.close_indicator{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #a855f7FF;
  display: block;
}


.issues_items_main{
  background-color: #fbfbfbFF;
  padding: 24px;
  box-shadow: 0px 1px 6px 0px #00000014;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.issues_item{
  max-width: 256px;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px #00000014;
}
.issues_items_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.issues_items_head img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.issues_items_head>button{
  background: #feececFF;
  padding: 6px 25px;
  color: #ef4444FF;
  border-radius: 15px;
  border: none;
}
.issues_items_contents{
  margin-top: 12px;
}
.issues_items_contents h2{
  font-size: 14px;
  font-weight: 600;
  color: #1f2937FF;
}
.issues_items_contents p{
  font-size: 12px;
  font-weight: 400;
  color: #64748bFF;
  margin-top: 8px;
}
.issues_items_btns{
  margin-top: 12px;
}
.bug_btn{
  background: #feececFF;
  border: 1px solid #fecacaFF;
  border-radius: 100px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ef4444FF;

}
.help_btn{
  background: #fff8dbFF;
  border: 1px solid #fde68aFF;
  border-radius: 100px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #d97706FF;
}
.issues_items_bottom{
  margin-top: 16px;
  border-top: 1px solid #e4e4e7FF;
  padding: 16px 0;
}
.issues_items_bottom p{
  color: #64748bFF;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
}

.poup_section{
  max-width: 636px;
  padding: 32px;
  background-color: #fff;
  border-radius: 8px;
}
.poup_section h2{
  font-size: 24px;
  font-weight: 700;
  color: #1f2937FF;
}
.poup_section p{
  font-size: 16px;
  font-weight: 400;
  color: #64748bFF;
  margin-bottom: 27px;
}
.status_btn{
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.status_btn button{
  padding: 6px 8px;
  background: #00a96eFF;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border: none;
}
.status_btn p{
  font-size: 12px;
  font-weight: 400;
  color: #64748bFF;
}
.poup_section_btns{
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 24px 0;
}
.poup_bug_btn{
  padding: 8px 16px;
  border-radius: 100px;
  background: #feececFF;
  border: 1px solid #fecacaFF;
  font-size: 12px;
  font-weight: 500;
  color: #ef4444FF;
}
.poup_help_btn{
  padding: 8px 16px;
  border-radius: 100px;
  background: #fff8dbFF;
  border: 1px solid #fde68aFF;
  font-size: 12px;
  font-weight: 500;
  color: #d97706FF;
}
.priority{
  padding: 16px;
  background: #f8fafcFF;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.priority_left{
  width: 50%;
}
.priority_left p{
  font-size: 16px;
  font-weight: 400;
  color: #64748bFF;
}
.priority_left h3{
  font-size: 16px;
  font-weight: 600;
  color: #1f2937FF;
}
.priority_right{
  width: 50%;
}
.priority_right p{
  font-size: 16px;
  font-weight: 400;
  color: #64748bFF;
}
.priority_right button{
  padding: 8px 16px;
  border-radius: 100px;
  background: #ef4444FF;
  border: 1px solid #fecacaFF;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.close_btn{
  margin: 24px 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
.close_btn button{
  background: #4a00ffFF;
  border-radius: 4px;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}


@media (max-width: 768px) {
  .nav_header>nav{
  gap: 16px;
  justify-content: center;
  }
}

@media (max-width:640px) {
  .nav_right{
    justify-content: center;
  }
  .first_header{
  justify-content: center;
}
.second_header{
  justify-content: center;
  gap: 16px;
}
}